.data{
    margin-top: 20px;
    height: 50px;
    display: flex;
    // background-color: lightblue;
}    

.cloud-icon{
    width: 32px;
    height: 25px;
    padding: 18px 9px 0px 15px;
    color: #235BA8;
}

.para{
    font-size: 30px;
    margin: 6px;
}