.drop-down-list {
  margin-top: 16px;
  margin-left: 64px;
  width: 332px;
  height: 28px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #00000052;
  opacity: 1;
}
.dropdown-container {
  float: left;
}
